header {
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left:  0;
    z-index: 99;

}

#in_header{
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}

#menu {
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#menu > li > a {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

#side {
    width: 216px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

/* header end */

#section_1 {
    max-width: 1920px;
    height: 370px;
    background-image: url(../../caffee/img/section_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
}

#section_2 {
    height: 90px;
    background-color: #F7F5F2;
    display: flex;
    justify-content: center;
}

#section_2 > ul {
    width: 1110px;
    display: flex;
    align-items: center;
}
#st {
    border-bottom: 1px solid #403520;
}

#section_2 > ul > li {
    width: 370px;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center ;
    align-self: center;
    font-size: 20px;
}

#section_2 > ul > li > a {
    display: flex;
    align-items: center;
}

/* section_2 end */

#section_4 {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section_4 > #title {
    margin-top: 90px;
    margin-bottom: 70px;
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
}

#section_4 > #container > img{
    width: 1200px;
}

#section_4 > #container > #con_box {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#section_4 > #container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
}

#section_4 > #container > #con_box > .con {
    margin-top: 50px;
    height: 510px;
    width: 400px;
    margin-bottom: 150px;
}

#section_4 > #container > #con_box > .con > img {
    margin: 20px auto;
}

#section_4 > #container > #con_box > .con > h1 {
    font-size: 25px;
    font-weight: 700;
    color: #303030;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#section_4 > #container > #con_box > .con > p {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #8F8F8F;
}
/* 슬라이더 -----------------------*/
html,
        body {
          position: relative;
          height: 100%;
        }
    
        body {
          font-size: 14px;
          color: #000;
          margin: 0;
          padding: 0;
        }
    
        .swiper {
          max-width: 1200px;
          height: 600px;
          margin-bottom: 150px;
        }

    
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          display: flex;
          justify-content: center;
          
          
        }
    
        .swiper-slide a img {
          display: block;
          width: 365px;
          height: 500px;
          object-fit: cover;
        }

        .swiper-slide a > h1{
            font-size: 24px;
            font-weight: 700;
            line-height: 35px;
            margin-top: 30px;
            margin-bottom: 15px;
            color: #4A4A4A;
        }

        .swiper-slide a > p{
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            color: #8F8F8F;
        }




footer {
    max-width: 1920px;
    background-color: #383838;
    height: 245px;
    display: flex;
    justify-content: space-between;
    padding: 0 240px;
}

#footer_text{
    margin-top: 58px;
}

#footer_text > h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    color: #FEFEFE;
    margin-bottom: 5px;
}

#footer_text > :nth-child(2) {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #FEFEFE;
    margin-bottom: 20px;
}

#footer_text > :nth-child(3) {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #FEFEFE;
    margin-bottom: 20px;
}

#footer_text > :nth-child(4) {
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: #FEFEFE;
}

#footer_icon {
    width: 60px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
}
